body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;


}

header {
    background-color: #292929;
    padding: 20px, 0px;
 
}

#logo {
    max-width: 165px;
    max-height: 165px;
}

.navbar {
    display: inline;
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-height: 200px;
    justify-content: center;

}
nav {
    position: inherit;
}

nav ul{
    position: relative;
    display: inline;
 
    padding: 10px 10px 0 0;
    margin:10px 10px 0 0 ;

}

nav li {

    display: inline;
    margin: 0 0 0 10px;
    justify-content: center;

}

nav a {
    text-transform: uppercase;
    color: #e3e2de;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;


}

nav a:hover {
    color: #d4fe41;
}